p {
	margin-left: 1em; /* adds margin to paragraphs */
}

img {
	max-width: 100%; /* keep images from stretching beyond page */
}

dt {
	font-weight: bold; /* bolds titles in descriptive lists */
}

#header {
	position:sticky; /* sticks it to the top */
	position:-webkit-sticky; /* safari work around too */
	top:0;
	background:white;
}