/**** [Settings for Site Layout] ****/
html {padding:0;margin:0;}

body {
min-height:calc(100vh - 2em); /*allows body background color to be full length*/
max-width:55em;
margin-left:auto;
margin-right:auto;
margin-bottom:0;
margin-top:0;
padding:2em;
padding-top:1em;
padding-bottom:1em;
}

/*red text for making notes*/
.todo{
color:crimson;
background-color:black;
font-weight:bold;
text-transform:uppercase;
text-align:justify;
text-align-last:center;
}
.center{
	text-align:center;
}

/***Rotation Window and Sprite Icons***/

/* Rotation Container */
div.rot {
margin:auto;
text-align:left;
max-width:100%;
min-width:25%;
justify-content:left;
align-items:center;
display:inline-flex;
overflow:auto;
white-space:nowrap;
border:outset;
border-radius:.3em;
}

/*adds padding and makes sure text doesnt move sprites*/
div.rot ul {
padding:12px;
font-size:0
}
/*normal rotation icons*/
div.rot li {margin:2px;display:inline-block}
/*rotation icons for weaving */
div.rot li.i {margin:-3px;display:inline-block;transform:scale(0.75)}
 /*regular sized inline icons*/
span.n {display:inline-block;margin:2px}

span.s { /*small icons for inline text*/
display:inline-block;
transform:scale(.5);
margin:-12px -10px -16px -12px
}

span.t { /*icons for skillcards*/
margin:3px 2px 0px 2px;
display:inline-block;
}

/*this specifically applies to etro embeds*/
iframe.gear {
width:100%;
min-width:300px;
height:450px
}