.addle {
    width: 44px;
    height: 46px;
    background: url(blmfull.png) -0px -0px;
}
.swift {
    width: 44px;
    height: 46px;
    background: url(blmfull.png) -44px -0px;
}
.lucid {
    width: 44px;
    height: 46px;
    background: url(blmfull.png) -88px -0px;
}
.surecast {
    width: 44px;
    height: 46px;
    background: url(blmfull.png) -0px -46px;
}
.blizz1 {
    width: 44px;
    height: 46px;
    background: url(blmfull.png) -44px -46px;
}
.fire1 {
    width: 44px;
    height: 46px;
    background: url(blmfull.png) -88px -46px;
}
.transpose {
    width: 44px;
    height: 46px;
    background: url(blmfull.png) -0px -92px;
}
.thun1 {
    width: 44px;
    height: 46px;
    background: url(blmfull.png) -44px -92px;
}
.sleep {
    width: 44px;
    height: 46px;
    background: url(blmfull.png) -88px -92px;
}
.blizz2 {
    width: 44px;
    height: 46px;
    background: url(blmfull.png) -0px -138px;
}
.scathe {
    width: 44px;
    height: 46px;
    background: url(blmfull.png) -44px -138px;
}
.fire2 {
    width: 44px;
    height: 46px;
    background: url(blmfull.png) -88px -138px;
}
.thun2 {
    width: 44px;
    height: 46px;
    background: url(blmfull.png) -0px -184px;
}
.manaward {
    width: 44px;
    height: 46px;
    background: url(blmfull.png) -44px -184px;
}
.fire3 {
    width: 44px;
    height: 46px;
    background: url(blmfull.png) -88px -184px;
}
.am {
    width: 44px;
    height: 46px;
    background: url(blmfull.png) -0px -230px;
}
.manafont {
    width: 44px;
    height: 46px;
    background: url(blmfull.png) -44px -230px;
}
.freeze {
    width: 44px;
    height: 46px;
    background: url(blmfull.png) -88px -230px;
}
.blizz3 {
    width: 44px;
    height: 46px;
    background: url(blmfull.png) -0px -276px;
}
.thun3 {
    width: 44px;
    height: 46px;
    background: url(blmfull.png) -44px -276px;
}
.flare {
    width: 44px;
    height: 46px;
    background: url(blmfull.png) -88px -276px;
}
.leylines {
    width: 44px;
    height: 46px;
    background: url(blmfull.png) -0px -322px;
}
.sharp {
    width: 44px;
    height: 46px;
    background: url(blmfull.png) -44px -322px;
}
.enoc {
    width: 44px;
    height: 46px;
    background: url(blmfull.png) -88px -322px;
}
.blizz4 {
    width: 44px;
    height: 46px;
    background: url(blmfull.png) -0px -368px;
}
.fire4 {
    width: 44px;
    height: 46px;
    background: url(blmfull.png) -44px -368px;
}
.btl {
    width: 44px;
    height: 46px;
    background: url(blmfull.png) -88px -368px;
}
.thun4 {
    width: 44px;
    height: 46px;
    background: url(blmfull.png) -0px -414px;
}
.triple {
    width: 44px;
    height: 46px;
    background: url(blm.png) -44px -414px;
}
.foul {
    width: 44px;
    height: 46px;
    background: url(blmfull.png) -88px -414px;
}
.despair {
    width: 44px;
    height: 46px;
    background: url(blmfull.png) -0px -460px;
}
.soul {
    width: 44px;
    height: 46px;
    background: url(blmfull.png) -44px -460px;
}
.xeno {
    width: 44px;
    height: 46px;
    background: url(blmfull.png) -88px -460px;
}
.mm1 {
    width: 44px;
    height: 46px;
    background: url(blmfull.png) -0px -506px;
}
.tc {
    width: 44px;
    height: 46px;
    background: url(blmfull.png) -44px -506px;
}
.mm2 {
    width: 44px;
    height: 46px;
    background: url(blmfull.png) -88px -506px;
}
.fs {
    width: 44px;
    height: 46px;
    background: url(blmfull.png) -0px -552px;
}
.tm1 {
    width: 44px;
    height: 46px;
    background: url(blmfull.png) -44px -552px;
}
.tm2 {
    width: 44px;
    height: 46px;
    background: url(blmfull.png) -88px -552px;
}
.umbralheart {
    width: 44px;
    height: 46px;
    background: url(blmfull.png) -0px -598px;
}
.efreeze {
    width: 44px;
    height: 46px;
    background: url(blmfull.png) -44px -598px;
}
.eenoc1 {
    width: 44px;
    height: 46px;
    background: url(blmfull.png) -88px -598px;
}
.aspectmastery {
    width: 44px;
    height: 46px;
    background: url(blmfull.png) -0px -644px;
}
.esharpcast {
    width: 44px;
    height: 46px;
    background: url(blmfull.png) -44px -644px;
}
.eenoc2 {
    width: 44px;
    height: 46px;
    background: url(blmfull.png) -88px -644px;
}
.epolyglot {
    width: 44px;
    height: 46px;
    background: url(blmfull.png) -0px -690px;
}