.fastblade {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -42px -0px;
}
.fightorflight {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -84px -0px;
}
.riotblade {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -0px -42px;
}
.totaleclipse {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -42px -42px;
}
.shieldbash {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -84px -42px;
}
.ironwill {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -0px -84px;
}
.shieldlob {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -42px -84px;
}
.rageofhalone {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -84px -84px;
}
.sentinel {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -0px -126px;
}
.circleofscorn {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -42px -126px;
}
.spiritswithin {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -42px -168px;
}
.sheltron {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -84px -168px;
}
.prominence {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -0px -210px;
}
.cover {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -42px -210px;
}
.hallowedground {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -84px -210px;
}
.goringblade {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -0px -252px;
}
.divine veil {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -42px -252px;
}
.clemency {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -84px -252px;
}
.royalauthority {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -0px -294px;
}
.intervention {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -42px -294px;
}
.holyspirit {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -84px -294px;
}
.requiescat {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -0px -336px;
}
.passageofarms {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -42px -336px;
}
.holyscircle {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -84px -336px;
}
.intervene {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -0px -378px;
}
.atonement {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -42px -378px;
}
.confiteor {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -84px -378px;
}
.holysheltron {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -0px -420px;
}
.expiacion {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -42px -420px;
}
.bladeoffaith {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -84px -420px;
}
.bladeoftruth {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -0px -462px;
}
.bladeofvalor {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -42px -462px;
}
.tankmastery {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -0px -504px;
}
.oathmastery {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -42px -504px;
}
.chivalry {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -84px -504px;
}
.rageofhalonemastery {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -0px -546px;
}
.divinemagicmastery {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -42px -546px;
}
.enhancedprominence {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -84px -546px;
}
.enhancedsheltron {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -0px -588px;
}
.swordoath {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -42px -588px;
}
.sheltronmastery {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -84px -588px;
}
.enhancedintervention {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -0px -630px;
}
.divinemagicmastery2 {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -42px -630px;
}
.meleemastery {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -84px -630px;
}
.spiritswithinmastery {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -0px -672px;
}
.enhanceddivineveil {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -42px -672px;
}
.rampart {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -0px -714px;
}
.lowblow {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -42px -714px;
}
.provoke {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -84px -714px;
}
.interject {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -0px -756px;
}
.reprisal {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -42px -756px;
}
.armslength {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -84px -756px;
}
.shirk {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -0px -798px;
}
.tincturestrength {
    width: 42px;
    height: 42px;
    background: url(pldactions.png) -42px -798px;
}