.potstr {
    width: 44px;
    height: 46px;
    background: url(pots.png) -0px -0px;
}
.potdex {
    width: 44px;
    height: 46px;
    background: url(pots.png) -44px -0px;
}
.potint {
    width: 44px;
    height: 46px;
    background: url(pots.png) -88px -0px;
}
.potmnd {
    width: 44px;
    height: 46px;
    background: url(pots.png) -132px -0px;
}
.potvit {
    width: 44px;
    height: 46px;
    background: url(pots.png) -176px -0px;
}